<div class="row">
  <div class="col-xs-12">
    <h2>My wallets</h2>
  </div>
  <div class="col-xs-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>USD</mat-card-title>
        <mat-card-subtitle>uuid</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="center-xs">
        <h1>$</h1>
        <h1>722.00</h1>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-xs-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>EUR</mat-card-title>
        <mat-card-subtitle>uuid</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="center-xs">
        <h1 class="symbol">€</h1>
        <h1 class="red">0.00</h1>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row action-buttons">
  <div class="col-xs-12">
    <div class="center-xs">
      <button mat-fab matTooltip="Action">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-fab>
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-fab>
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="row transactions">
  <div class="col-xs-12">
    <h2>Last transactions</h2>
  </div>
  <div class="col-xs-6">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="profile"></div>
        <mat-card-title>Joy Hunter</mat-card-title>
        <mat-card-subtitle>
          <h1>$</h1>
          <h1>100.00</h1>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="col-xs-6">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="profile"></div>
        <mat-card-title>Joy Hunter</mat-card-title>
        <mat-card-subtitle>
          <h1>$</h1>
          <h1>100.00</h1>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
