// Component

h1 {
  display: inline;
}

.red {
  color: indianred;
}

.symbol{
  padding-right: 5px;
  font-weight: bolder;
  color: cornflowerblue;
}

// Component
.action-buttons {
  padding-top: 20px;
  button{
    margin-right: 30px;
  }
}

// Component
.transactions{
  padding-top: 15px;
}

.mat-card{
  background: #eee;
}

.profile {
  background-image: url('/assets/profile.jpg');
  background-size: cover;
}

.mat-card-avatar{
  height: 50px;
  width: 50px;
}
