h1  {
  display: inline;
}

.container {
  background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
  height: 100%;
  width: 100%;
  padding-top: 10%;
}

.mat-card {
  margin: 0 37%;
}

.mat-form-field {
  width: 100%;
}

.login-box {
  padding: 0 40px;
}

.login-buttons-box {
  padding-top: 15px;
}
