<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <span>
          <mat-icon>payment</mat-icon>
        </span>
        <h1>Wallet</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row login-box">
        <div class="col-xs-12">
          <mat-form-field>
            <mat-icon matPrefix>people</mat-icon>
            <mat-label>Username</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
        <div class="col-xs-12">
          <mat-form-field>
            <mat-icon matPrefix>lock</mat-icon>
            <mat-label>Password</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
      </div>
      <div class="row login-buttons-box center-xs">
        <button mat-raised-button color="primary" (click)="login()">Login</button>
        <button mat-button>Register</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
