<div class="row" id="main">
  <div class="col-xs-3">
    <app-side-menu></app-side-menu>
  </div>
  <div class="col-xs-7" id="right-panel">
    <mat-card>
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</div>
