<mat-card>
  <mat-nav-list>
    <mat-list-item routerLink="/dashboard" routerLinkActive="active">
      <a matLine>Dashboard</a>
      <mat-icon>dashboard</mat-icon>
    </mat-list-item>
    <mat-list-item routerLink="/transactions" routerLinkActive="active">
      <a matLine>Transactions</a>
      <mat-icon>compare_arrows</mat-icon>
    </mat-list-item>
    <mat-list-item routerLink="/login">
      <a matLine>Log out</a>
      <mat-icon>exit_to_app</mat-icon>
    </mat-list-item>
  </mat-nav-list>
</mat-card>
