.active {
  background: linear-gradient(to left, #6FB1FC, #4364F7, #0052D4);
  color: white;
  border-radius: 8px;
}

.active:hover {
  background: linear-gradient(to left, #6FB1FC, #4364F7, #0052D4);
  color: white;
  border-radius: 8px;
}

.active:focus {
  background: linear-gradient(to left, #6FB1FC, #4364F7, #0052D4);
  color: white;
  border-radius: 8px;
}
